In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\ketin\\PycharmProjects\\PyProject'

In [4]:
df=pd.read_csv("data\survey_results_public.csv")

In [8]:
df.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [10]:
df.shape

(64461, 61)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    64461 non-null  int64
 1   MainBranch                    64162 non-null  object
 2   Hobbyist                      64416 non-null  object
 3   Age                           45446 non-null  float64
 4   Age1stCode                    57900 non-null  object
 5   CompFreq                      40069 non-null  object
 6   CompTotal                     34826 non-null  float64
 7   ConvertedComp                 34756 non-null  float64
 8   Country                       64072 non-null  object
 9   CurrencyDesc                  45472 non-null  object
 10  CurrencySymbol                45472 non-null  object
 11  DatabaseDesireNextYear        44070 non-null  object
 12  DatabaseWorkedWith            49537 non-null  object
 13  DevType                       49370 non-null  object
 14  EdLevel                       57431 non-null  object
 15  Employment                    63854 non-null  object
 16  Ethnicity                     45948 non-null  object
 17  Gender                        50557 non-null  object
 18  JobFactors                    49349 non-null  object
 19  JobSat                        45194 non-null  object
 20  JobSeek                       51727 non-null  object
 21  LanguageDesireNextYear        54113 non-null  object
 22  LanguageWorkedWith            57378 non-null  object
 23  MiscTechDesireNextYear        42379 non-null  object
 24  MiscTechWorkedWith            40314 non-null  object
 25  NEWCollabToolsDesireNextYear  47287 non-null  object
 26  NEWCollabToolsWorkedWith      52883 non-null  object
 27  NEWDevOps                     42686 non-null  object
 28  NEWDevOpsImpt                 41732 non-null  object
 29  NEWEdImpt                     48465 non-null  object
 30  NEWJobHunt                    42286 non-null  object
 31  NEWJobHuntResearch            41022 non-null  object
 32  NEWLearn                      56156 non-null  object
 33  NEWOffTopic                   50804 non-null  object
 34  NEWOnboardGood                42623 non-null  object
 35  NEWOtherComms                 57205 non-null  object
 36  NEWOvertime                   43231 non-null  object
 37  NEWPurchaseResearch           37321 non-null  object
 38  NEWPurpleLink                 54803 non-null  object
 39  NEWSOSites                    58275 non-null  object
 40  NEWStuck                      54983 non-null  object
 41  OpSys                         56228 non-null  object
 42  OrgSize                       44334 non-null  object
 43  PlatformDesireNextYear        50605 non-null  object
 44  PlatformWorkedWith            53843 non-null  object
 45  PurchaseWhat                  39364 non-null  object
 46  Sexuality                     43992 non-null  object
 47  SOAccount                     56805 non-null  object
 48  SOComm                        56476 non-null  object
 49  SOPartFreq                    46792 non-null  object
 50  SOVisitFreq                   56970 non-null  object
 51  SurveyEase                    51802 non-null  object
 52  SurveyLength                  51701 non-null  object
 53  Trans                         49345 non-null  object
 54  UndergradMajor                50995 non-null  object
 55  WebframeDesireNextYear        40024 non-null  object
 56  WebframeWorkedWith            42279 non-null  object
 57  WelcomeChange                 52683 non-null  object
 58  WorkWeekHrs                   41151 non-null  float64
 59  YearsCode                     57684 non-null  object
 60  YearsCodePro                  46349 non-null  object
dtypes: float64(4), int64(1), object(56)
memory usage: 30.0+ MB

In [13]:
schema_df=pd.read_csv("data\survey_results_schema.csv")

                Column                                       QuestionText
0           Respondent  Randomized respondent ID number (not in order ...
1           MainBranch  Which of the following options best describes ...
2             Hobbyist                            Do you code as a hobby?
3                  Age  What is your age (in years)? If you prefer not...
4           Age1stCode  At what age did you write your first line of c...
..                 ...                                                ...
56  WebframeWorkedWith  Which web frameworks have you done extensive d...
57       WelcomeChange  Compared to last year, how welcome do you feel...
58         WorkWeekHrs  On average, how many hours per week do you wor...
59           YearsCode  Including any education, how many years have y...
60        YearsCodePro  NOT including education, how many years have y...

[61 rows x 2 columns]

In [15]:
pd.set_option('display.max_columns',85 )
pd.set_option('display.max_rows',85 )

In [18]:
schema_df.tail()

                Column                                       QuestionText
56  WebframeWorkedWith  Which web frameworks have you done extensive d...
57       WelcomeChange  Compared to last year, how welcome do you feel...
58         WorkWeekHrs  On average, how many hours per week do you wor...
59           YearsCode  Including any education, how many years have y...
60        YearsCodePro  NOT including education, how many years have y...

In [20]:
nibbas=df[df['Age']<17]

In [23]:
nibbas.shape

(778, 61)

In [32]:
df[['MainBranch','Age']]

                                              MainBranch   Age
0                         I am a developer by profession   NaN
1                         I am a developer by profession   NaN
2                            I code primarily as a hobby   NaN
3                         I am a developer by profession  25.0
4      I used to be a developer by profession, but no...  31.0
...                                                  ...   ...
64456                                                NaN   NaN
64457                                                NaN   NaN
64458                                                NaN   NaN
64459                                                NaN   NaN
64460                                                NaN   NaN

[64461 rows x 2 columns]

In [33]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [36]:
df.iloc[1]

Respondent                                                                      2
MainBranch                                         I am a developer by profession
Hobbyist                                                                       No
Age                                                                           NaN
Age1stCode                                                                     19
CompFreq                                                                      NaN
CompTotal                                                                     NaN
ConvertedComp                                                                 NaN
Country                                                            United Kingdom
CurrencyDesc                                                       Pound sterling
CurrencySymbol                                                                GBP
DatabaseDesireNextYear                                                        NaN
DatabaseWorkedWith                                                            NaN
DevType                                   Developer, full-stack;Developer, mobile
EdLevel                              Bachelor’s degree (B.A., B.S., B.Eng., etc.)
Employment                                                     Employed full-time
Ethnicity                                                                     NaN
Gender                                                                        NaN
JobFactors                                                                    NaN
JobSat                                                          Very dissatisfied
JobSeek                              I am not interested in new job opportunities
LanguageDesireNextYear                                               Python;Swift
LanguageWorkedWith                                               JavaScript;Swift
MiscTechDesireNextYear                           React Native;TensorFlow;Unity 3D
MiscTechWorkedWith                                                   React Native
NEWCollabToolsDesireNextYear                                         Github;Slack
NEWCollabToolsWorkedWith                      Confluence;Jira;Github;Gitlab;Slack
NEWDevOps                                                                     NaN
NEWDevOpsImpt                                                                 NaN
NEWEdImpt                                                        Fairly important
NEWJobHunt                                                                    NaN
NEWJobHuntResearch                                                            NaN
NEWLearn                                                              Once a year
NEWOffTopic                                                              Not sure
NEWOnboardGood                                                                NaN
NEWOtherComms                                                                  No
NEWOvertime                                                                   NaN
NEWPurchaseResearch                                                           NaN
NEWPurpleLink                                                              Amused
NEWSOSites                      Stack Overflow (public Q&A for anyone who code...
NEWStuck                        Visit Stack Overflow;Go for a walk or other ph...
OpSys                                                                       MacOS
OrgSize                                                  1,000 to 4,999 employees
PlatformDesireNextYear                                 iOS;Kubernetes;Linux;MacOS
PlatformWorkedWith                                                            iOS
PurchaseWhat                                        I have little or no influence
Sexuality                                                                     NaN
SOAccount                                                                     Yes
SOComm                                                            Yes, definitely
SOPartFreq                                    Less than once per month or monthly
SOVisitFreq                                                Multiple times per day
SurveyEase                                                                    NaN
SurveyLength                                                                  NaN
Trans                                                                         NaN
UndergradMajor                  Computer science, computer engineering, or sof...
WebframeDesireNextYear                                                        NaN
WebframeWorkedWith                                                            NaN
WelcomeChange                            Somewhat more welcome now than last year
WorkWeekHrs                                                                   NaN
YearsCode                                                                       7
YearsCodePro                                                                    4
Name: 1, dtype: object

In [38]:
df["Hobbyist"].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [50]:
df.iloc[0,[2]]

Hobbyist    Yes
Name: 0, dtype: object

In [51]:
df.loc[0:3,['Hobbyist','Age']]

SyntaxError: unmatched ']' (Temp/ipykernel_17168/3982720172.py, line 1)

In [55]:
df.loc[0:3,['Hobbyist','Age']]

  Hobbyist   Age
0      Yes   NaN
1       No   NaN
2      Yes   NaN
3      Yes  25.0